/* Styles for Developer Tool module */

#dt_panel {
	color: #000000;
	position: fixed;
	right: -210px;
	top: 20%;
	margin: 20px 0 20px 20px;
	width: 230px;
	z-index: 1000000;
	-moz-box-shadow:    0 0 5px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	box-shadow:         0 0 5px 0 rgba(0,0,0,0.4);
}

#dt_content {
	background: #FFFFFF;
	margin-left: 20px;
	padding: 12px;
	text-align: left;
	font: normal 12px Verdana;
}

#dt_content label {
	width: 100%;
	padding: 6px 4% !important;
	margin: 2px 0 !important;
	font-weight: normal;
	display: inline-block;
}
#dt_content label input[type=checkbox] {
	margin-top: -2px;
}

#dt_openclose {
	position: absolute;
	background: #33D402 url('../images/grip.png');
	width: 20px;
	height: 100%;
   -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,0.4);
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
   box-shadow:         inset 0 0 5px rgba(0,0,0,0.4);
}

input[type=button] {
	width: 100%;
	padding: 10px 0;
	margin: 4% 0;
	font-size: 200%;
	background: #ED4B24;
	border: 0;
	border-radius: 10px;
	color: #FFFFFF;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
}
input[type=button]:hover {
	background: #DD3413;
}

input[type=button][disabled=disabled] {
	background: #B4B4B4;
}

#dt_status {
	padding-top: 45px;
	background: url('../images/loading.gif') no-repeat center top;
	margin: 10px 0;
	display: none;
	font: 10px Verdana;
}

.dt_ready {
	background: url('../images/ok.png') no-repeat center top !important;
}