<?php $s = $this->getSettings(); if(Mage::helper('core')->isDevAllowed() && $s['dt-enabled']) : ?>

<div id="dt_panel">

<div id="dt_openclose"></div>

<div id="dt_content">


	<h2>Flush Cache</h2>


	<form id="devtoolFlush">
		<fieldset>
		
			<label><input type="checkbox" name="action[]" class="action" value="flushCache"> Magento Cache</label><br>
			<label><input type="checkbox" name="action[]" class="action" value="flushStorage"> Cache Storage</label><br>
			<label><input type="checkbox" name="action[]" class="action" value="flushImages"> Catalog Images Cache</label><br>
			<label><input type="checkbox" name="action[]" class="action" value="flushJSCSS"> Merged JS/CSS</label><br>
			
			<input type="button" onclick="DevtoolFlush();" id="dt_flush_button" value="Flush!" disabled="disabled">
			
		</fieldset>
		
	</form>
	
	<div id="dt_status"></div>

</div>

</div>

<?php endif; ?>